@charset "UTF-8";


	* {
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
	}

	html, body {
		height: 100%;
	}
	
	body {
		display: flex;
		flex-direction: column;
		margin: 0;
		padding: 0;
		
		height: 100%;
	}

	header {
 		flex: 0 1 auto;
 		background: linear-gradient(to left, red, orange, yellow, green, blue, darkblue, purple);
 		text-align: center;
 		color: white;
 		height: 80px;
 		width: 100%;
 		margin: 0;
	}
	
	.content-container {
		position: absolute; /* 위치고정 */
		top: 80px;
		bottom: 30px;  /* footer영역을 비워두기위해 */
		left: 0;
		right: 0;
		display: flex;
		flex: 1;
	}
	
	.side-bar {
		width: 240px;
		background-color: #666;
		padding: 4px 20px;
		color: white;
	}
	
	.section-atc {
		flex: 1;
		display: flex;
		background-color: #ddd;
		flex-direction: column;
	}
	
	.section-header {
		background-color: #004141;
		color: white;
		font-size: 0.8em;
		padding: 6px 20px;
		text-align: center;
	}
	
	.section-div {
		flex: 1;
		display: flex;
		
	}
	
	.div-div {
		padding: 20px;
		border: 1px solid blue;
	}
	
	.div-div.sub1 {
		flex:3;
		overflow: auto;
	}
	
	.div-table { 
		width: 100%;
	}
	
	.div-div.sub2 {
		flex:1;
		overflow: auto;
	}
	
	footer {
		flex: 0 1 30px;
		height: 30px; /* 본문영역 침범하는 것을 방지하기 위해 */
		background: linear-gradient(to left, red, orange, yellow, green, blue, darkblue, purple);
 		text-align: center;
 		color: white;
 		padding: 0.3em;
 		font-size: 12px;
 		display: flex;
 		margin-top: 827px;
 		
 		/* 내부의 address를 중심에 놓기 위해 */
 		align-items: center;
 		justify-content: center;
	}
	
	#dsearch {
		width: 100%;
		padding: 0.8em;
		margin: 5px auto;
	}
	