@charset "UTF-8";

	* {
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;	
	}
	
	body {
		max-width: 90%;
		margin: 10px auto;
	}
	
	header {
		text-align: center;
		font-size: 25pt;
		font-weight: bold;
		background: linear-gradient(to bottom, blue, black);
		color: white;
		padding: 1em;
		margin: 0px auto;
	}
	
	nav {
		font-size: 15pt;
		background: linear-gradient(to bottom, white, blue);
		color: white;
		margin: 0px auto;
	}
	
	.nav-home {
		padding: 8px 16px; 
		width: auto;
		border: none;
		display: inline-block;
		outline: 0
	}
	
	.nav-menu {
		padding: 8px 16px; 
		width: auto;
		border: none;
		display: inline-block;
		outline: 0
	}
	
	.nav-menu:hover {
		color: black;
		background: linear-gradient(to bottom, white, silver);
	}
	.nav-home:hover {
		color: black;
		background: linear-gradient(to bottom, white, silver);
	}
	
	a {
		text-decoration: none;
		color: white;
	}
	
	label {
		padding: 2px;
		color: blue;
		font-weight: bold;
		display : block;
	}
	
	input, select, textarea {
		margin: 3px;
		padding: 8px;
		border: 1px solid #ccc;
		display: block;
		width: 100%;
	}
	
	#for_auth {
		margin-top: 20px; 
	}
			
	#m_text {
		padding-bottom: 100px; 
	}
	
	button {
		border: 1px solid black;
		background-color: purple;
		margin: 30px 0px;
		width: 100px;
		height: 30px;
		color: white;
		padding: 0.5em;
		border: none;
		font-weight: bold;
	}
	
	button:hover {
		background-color: blue;
		color: yellow;
	}
	
